.login {
    text-align: center;
}
  
.login p {
  color: #444242;
}

.link {
  text-align: left;
  margin: 20px 0px;
  color: #444242;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: block;
}