.resetForm {
    margin: 50px auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}
  
.success {
    color: green;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 1rem;
  }

.btnLink {
    background-color: #0e810a;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
}

.btnLink:hover{
    background-color: #0c7208;
    color: white;
    transition: 300ms;
    cursor: pointer;
  }