.edit_post {
    text-align: center;
}
  
.edit_post h2 {
    font-size: 2.2em;
}
  
.edit_post p {
    color: #aaa;
    margin-bottom: 2em;
}
  
.edit_post .preview_title {
    margin-bottom: 1em;
    color: #000;
    font-weight: bold;
    text-align: left;
    
}
  
.image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}

.backButton {
    display: inline-block;
    margin: 2rem auto;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.backButton:hover {
    background-color: #333;
    color: #fff;
}

.permissionDenied {
    color: #d9534f;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
}