.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  flex-wrap: wrap;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.links_list li {
  padding: 0.4em 0.6em;
}

.active {
  background-color: black;
  color: #fff;
  padding: 0.4em 0.6em;
  border-radius: 0.25em;
}

.exit {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .links_list {
    flex-direction: column;
    align-items: center;
  }

  .links_list li {
    width: 100%;
    text-align: center;
  }
}
